* { padding: 0; 
    margin: 0; }
canvas { 
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    display: block; 
    margin: 0 auto; 
    box-shadow: 4px 4px limegreen;
}